<ng-container class="p-5">
    <form [formGroup]="CategoryForm" (ngSubmit)="onSubmit()">
    <div class="text-center md-dialog-container">
        <h1 mat-dialog-title>Add New Category</h1>
        <div mat-dialog-content>
                <mat-form-field class="m-3" appearance="outline">
                  <mat-label>Category Name</mat-label>
                  <input matInput formControlName="name" placeholder="Category name">
                  <mat-error *ngIf="CategoryForm.get('name').hasError('required')">
                    Category name is required
                  </mat-error>
                </mat-form-field>
            </div>
            <div mat-dialog-actions>
                <button  mat-fab extended type="submit" [disabled] ="CategoryForm.invalid" >Add</button>
            </div>
        </div>
    </form>
</ng-container>