<div  matTooltip="wanna create new Product? click here"  class="mt-3 contact-feature-btn gap-2  mb-4" #addProduct>
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="" class="bi bi-plus-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
    </svg>
    <span>
        Add Product
    </span>
</div>

<ag-grid-angular class="ag-theme-material" style="height:50vh;" 
[rowData]="dataSource" 
[columnDefs]="colDefs" 
[defaultColDef]="resizeColumn" 
[pagination]="pagination"
[paginationPageSize]="paginationPageSize"
[paginationPageSizeSelector]="paginationPageSizeSelector"
[rowGroupPanelShow]="'always'"
/>