<div class="app-header d-flex justify-content-between pe-3">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="40"
    height="40"
    fill="currentColor"
    class="bi bi-person-arms-up mt-1"
    viewBox="0 0 16 16"
  >
    <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3" />
    <path
      d="m5.93 6.704-.846 8.451a.768.768 0 0 0 1.523.203l.81-4.865a.59.59 0 0 1 1.165 0l.81 4.865a.768.768 0 0 0 1.523-.203l-.845-8.451A1.5 1.5 0 0 1 10.5 5.5L13 2.284a.796.796 0 0 0-1.239-.998L9.634 3.84a.7.7 0 0 1-.33.235c-.23.074-.665.176-1.304.176-.64 0-1.074-.102-1.305-.176a.7.7 0 0 1-.329-.235L4.239 1.286a.796.796 0 0 0-1.24.998l2.5 3.216c.317.316.475.758.43 1.204Z"
    />
  </svg>

  <img
    class="rounded"
    src="/assets/Image/istockphoto-1327592506-1024x1024.jpg"
    height="50px"
    width="50px"
    alt="Photo"
    [matMenuTriggerFor]="menu"
  />
  <!-- <button mat-fab [matMenuTriggerFor]="menu">Menu</button> -->
  <mat-menu #menu="matMenu">
    <div class="p-4">
      <div class="d-flex gap-3">
        <img
          class="rounded"
          src="/assets/Image/istockphoto-1327592506-1024x1024.jpg"
          height="50px"
          width="50px"
          alt="Photo"
        />
        <div class="div">
          <b class="">
            {{ userName ? userName : "Lorem Lorem" }}
          </b>
          <div>
            {{ email ? email : "--not-available--" }}
          </div>
        </div>
      </div>
      <hr />
      <div>
        <div class="listitem d-flex gap-3 mt-2 p-2 ps-0" #myProfile>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-person-circle"
            viewBox="0 0 16 16"
          >
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
            <path
              fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
            />
          </svg>
          <span class="h6"> My Profile </span>
        </div>
        <div class="listitem d-flex gap-3 mt-3 p-2 ps-0">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-lock"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1"
            />
          </svg>
          <span class="h6"> Change Password </span>
        </div>
        <div class="listitem d-flex gap-3 mt-3 p-2 ps-0" #logout>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-box-arrow-right ms-1"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"
            />
            <path
              fill-rule="evenodd"
              d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"
            />
          </svg>
          <span class="h6"> LogOut </span>
        </div>
      </div>
    </div>
  </mat-menu>
</div>
