/* *{
    height: 100%;
} */
.contact-container {
    height: 100vh;
    padding: 25px;
  }
  .contact-sidenav{
    width: 300px;
    padding-top: 25px;
    padding-left: 25px;
  }
  mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .sidenav-content{
    padding-left: 25px;
    padding-right:25px;
  }
  button{
    box-shadow: none;
  }
  .contact-feature-btn {
    font: 20px Arial;
    display: inline-block;
    padding: 1em 1em;
    text-align: left;
    color: black;
    border-radius: 25px;

    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left,  #ffdf6b 50%, #faca1f 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}
.contact-feature-btn:hover {
    background-position: left;
}
.contact-feature-btn-sub {
    font: 18px Arial;
    display: inline-block;
    width: 90%;
    padding: 1em 1em;
    text-align: left;
    color: black;
    border-radius: 25px;

    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left,  #fffcf0 50%, #ffe792 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}
.contact-feature-btn-sub:hover {
    background-position: left;
}
.clickable {
    cursor: pointer;
}
.clicked{
    background-color:#ffe792 ;
}
#LogoutBtn:hover {
  transform: scale(1.2);
}
