.filter-contact{
    font: 20px Arial;
    display: inline-block;
    padding: 1em 1em;
    text-align: left;
    color: black;
    border-radius: 25px;
    width: 100%;
    background-color: #fffcf0;
}