<ng-container *ngIf="countrow != 0; else dataNotFound">

    <div class="p-4" aria-colspan="accordiondiv">
        <div (click)="openDialog('0ms', '0ms')" class="contact-feature-btn gap-2  mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
            </svg>
            <span>
                New List
            </span>
        </div>
        <mat-accordion cdkDropList (cdkDropListDropped)="drop($event)">
            <ng-container *ngFor="let object of dataSource; let index=index">
                <mat-expansion-panel [expanded]="currentIndex === index" (opened)="setStep(index)" cdkDrag>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <ng-container *ngIf="editedRowIndex !== index; else contactType">
                                {{object.id}}
                                {{object.name}}
                            </ng-container>
                            <ng-template #contactType>
                                <input matInput value="{{editedRow.name}}" [(ngModel)]="editedRow.name"/>
                            </ng-template>
                        </mat-panel-title>
                        <mat-panel-description>
                            {{object.count}}
                            <mat-icon>profile</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <ng-container  *ngIf="editedRowIndex !== index; else editBtn">
                        <button class="btn btn-primary me-3" (click)="startEdit(object,index)">
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button  class="btn btn-danger"  (click)="deleteContact(object)">
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                    </ng-container>
                    <ng-template #editBtn>
                        <button class="btn btn-success" (click)="editContact(object)">save</button>
                        <button class="btn btn-light" (click)="cancelEdit()">Cancel</button>
                    </ng-template>
                    <mat-action-row>
                        <button mat-button (click)="prevStep()" [hidden]="index === 0">prev</button>
                        <button mat-button (click)="nextStep()" [hidden]="index === countrow-1">Next</button>
                    </mat-action-row>
                </mat-expansion-panel>
            </ng-container>
        </mat-accordion>
    </div>
</ng-container>
<ng-template #dataNotFound>
    <div class="text-center m-5 text-danger h2">
        {{errorMessage}}
    </div>
</ng-template>