<!-- [displayedColumns]="displayedColumns" -->
<app-common-table-grid
  [columnValues]="columnValues"
  [childColumnValues]="childColumnValues"
  [dataSource]="dataSource"
  [paginatorLength]="paginatorLength"
  [childTable]="childTable"
  [childDisplayColumns]="childDisplayColumns"
  [childPaginatorLength]="childPaginatorLength"
  [expandableGrid]="expandableGrid"
  [actionBtnAllowed]="actionBtnAllowed"
  [paginationAllowed]="paginationAllowed"
  (paginationChanged)="paginationChanged($event)"
  (orderChanged)="orderChanged($event)"
  (deleteIdEmit)="deletePopUp($event)"
  (potentialEdit)="onEditButtonClick($event)"
  (getChildTableDataEmit)="sendChildTable($event)"
>
</app-common-table-grid>
