/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  /* background-color: #fafafa;
   */
  /* --primary-bg-color: #fafafa;
   --primary-text-color:#000000;
   &.dark{
    --primary-bg-color: #222831;
    --primary-text-color:#ffd369;
   } */
  /* --main-bg-color: */
}
::selection {
  color: #fafafa;
  background: #ffdf6b;
}
.call {
  position: absolute;
  font-size: 24px;
  color: rgb(255, 225, 0);
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 100;
}
button,
.btn {
  z-index: 1000000;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* HTML: <div class="loader"></div> */
.loader {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  
  --s: 40px;
  height: calc(var(--s) * 0.9);
  width: calc(var(--s) * 5);
  --v1: transparent, #000 0.5deg 108deg, #0000 109deg;
  --v2: transparent, #000 0.5deg 36deg, #0000 37deg;
  -webkit-mask: conic-gradient(
      from 54deg at calc(var(--s) * 0.68) calc(var(--s) * 0.57),
      var(--v1)
    ),
    conic-gradient(
      from 90deg at calc(var(--s) * 0.02) calc(var(--s) * 0.35),
      var(--v2)
    ),
    conic-gradient(
      from 126deg at calc(var(--s) * 0.5) calc(var(--s) * 0.7),
      var(--v1)
    ),
    conic-gradient(from 162deg at calc(var(--s) * 0.5) 0, var(--v2));
  -webkit-mask-size: var(--s) var(--s);
  -webkit-mask-composite: xor, destination-over;
  mask-composite: exclude, add;
  -webkit-mask-repeat: repeat-x;
  background: linear-gradient(#faca1f  0 0) left/0% 100% #ddd no-repeat;
  animation: l20 2s infinite linear;
}
@keyframes l20 {
  90%,
  100% {
    background-size: 100% 100%;
  }
}
.custom-snackbar-success {
  background-color: #4caf50;
  color: #fff;
}

.custom-snackbar-error {
  background-color: #f44336; 
  color: #fff;
}

.custom-snackbar-warning {
  background-color: #ff9800; 
  color: #fff;
}

